DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
ACTIVITY_SESSION_SECRET=replace-this-dev-secret
ACTIVITY_PUBLIC_URL=http://127.0.0.1:3000
ACTIVITY_HOST=127.0.0.1
ACTIVITY_PORT=3000
BALOOT_SERVER_BIN=../build/baloot-server
BALOOT_TARGET_SCORE=152
BALOOT_READ_TIMEOUT_MS=900000
ACTIVITY_DISCONNECT_GRACE_MS=10000
ACTIVITY_ALLOW_INSECURE_DEV=1
